extends ../../components/layout/layout.pug

block content
    -
        var colors = [
            {'value': '#1F2041', 'mod': 'base', 'label': 'Dark Shade 100%'},
            {'value': '#1F2041', 'mod': 'base-75', 'label': 'Dark Shade 75%'},
            {'value': '#1F2041', 'mod': 'base-50', 'label': 'Dark Shade 50%'},
            {'value': '#1F2041', 'mod': 'base-25', 'label': 'Dark Shade 25%'},
            {'value': '#1F2041', 'mod': 'base-5', 'label': 'Dark Shade 5%'},
            {'value': '#BC9CFF', 'mod': 'primary', 'label': 'Purple'},
            {'value': '#6FCF97', 'mod': 'accent', 'label': 'Green'}
        ]

        var texts = [
            {'label': 'h1', 'mod': 'h1', 'value': 'This one is the sub-section or widget title'},
            {'label': 'h2', 'mod': 'h2', 'value': 'Next one is the item title inside widgets'},
            {'label': 'h3', 'mod': 'h3', 'value': 'This is a label or CTA text'},
            {'label': 'body', 'mod': '', 'value': 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'},
        ]

    +checkbox('тест тест тест тест', 'test', true)
    
    ul.ui-colors
        each color in colors
            li.ui-color
                - var className = "ui-color__view" + " _" + color.mod;
                div(class=className)
                div.ui-color__description
                    p #{color.label}
                    p #{color.value} 


    ul.ui-texts
        each text, i in texts
            - var className = text.mod && i!==text.length-1 ? "title _" + text.mod : "";
            li.ui-text
                p #{text.label}
                p(class=className) #{text.value}

